body {
  background-color: #333;
  font-family: courier;
}

h1 {
  color: rgb(223, 204, 163);
  text-align: center;
}

.board_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
}

.scene {
  perspective: 600px;
}

.card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 2s;
  background-color: rgba(0,0,0)
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card_container {
  margin: 10px;
  width: 22%;
  height: 25%;
  border-radius: 3px;
}

.card_front {
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  height: 140px !important;
  background-color: rgb(245, 241, 235);
  border: 4px solid black;
  border-radius: 5px;
}

.card_front span {
  position: relative;
  top: 30px;
}

.card_back img {
  min-height: 140px;
  height: 100%;
  width: 100%;
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


#spy .card_face, #spy .card_front, #spy {
  color: white;
  border: none;
  backface-visibility: visible;
  background-color: rgba(0,0,0,0);
}

#spy span {
  text-shadow: 3px 3px 8px rgb(58, 58, 58);
  background-image: radial-gradient(rgba(0,0,0,.7),rgba(0,0,0,0), rgba(0,0,0,0));
}

.card_back {
  transform: rotateY(180deg);
}

/* Media Queries */

@media only screen and (max-width: 900px) {
  .card_conainer {
    height: 600px;
  }
}

@media only screen and (max-width: 800px) {
  .card_conainer {
    height: 450px;
  }
}

@media only screen and (max-width: 700px) {
  .card_conainer {
    height: 300px;
  }
}