<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div class="top_bar1">
    <div class="top_bar2">
      <div class="game_title">
        <h1 id="spymaster_header">SPYMASTER VIEW</h1>
      </div>
      <div class="button_top_layer">
        <div class="right_button_group">
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="board_container">
    {% for word in bank: %}
    <div class="card_container scene scene--card" id="spy">
      <div class="card">
        <div class="card_face card_front">
          <span>{{word.word}}</span>
        </div>
        <div class="card_face card_back" class_hidden="{{word.color}}">
          <img src="../static/img/{{word.color}}.jpg">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>