{% extends "base.html" %}
{% block title %} Secret {% endblock %}
{% block head%}
{{ super() }}
{% endblock %}
{% block body %}

<h1>Codenames: Secret Strings</h1>
<h3 id="spy">Spymaster view:</h3>

<div class="board_container">
  {% for word in bank: %}
  <div class="card_container scene scene--card" id="spy">
    <div class="card">
      <div class="card_face card_front">
        <span>{{word.word}}</span>
      </div>
      <div class="card_face card_back" class_hidden="{{word.color}}">
        <img src="../static/img/{{word.color}}.jpg">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}